<h2>Showing Selected Restaurant</h2>

<h1><%= "Name: #{@restaurant.name}" %></h1>
<h1><%= "Category: #{@restaurant.category}" %></h1>
<h1><%= "Address: #{@restaurant.address}" %></h1>
<h1><%= "Contact: #{@restaurant.phone_number}" %></h1>

<h2><%= link_to "Return to Home Page", restaurants_path %></h2>

